<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.denvie.mybatis.mapper.ClassMapper">
    <!-- 缓存设置 -->
    <cache eviction="LRU" flushInterval="600000" size="1024" readOnly="true" blocking="false"/>

    <resultMap id="BaseResultMap" type="cn.denvie.mybatis.common.model.Class">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="grade" jdbcType="INTEGER" property="grade"/>
        <collection column="id" property="students" javaType="ArrayList"
                    ofType="cn.denvie.mybatis.common.model.Student" select="selectStudentsByClassId"
                    fetchType="lazy" />
    </resultMap>

    <sql id="Base_Column_List">
    id, name, grade
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.denvie.mybatis.common.model.Class"
            useGeneratedKeys="true">
    insert into tbl_class
        (name, grade)
    values
        (#{name}, #{grade})
    </insert>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_class
        where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_class
    </select>

    <select id="selectStudentsByClassId" parameterType="java.lang.Integer"
            resultType="cn.denvie.mybatis.common.model.Student">
        select *
        from tbl_student
        where class_id = #{id}
    </select>

</mapper>